@model Events.Web.Models.EventInputModel

@{
    ViewBag.Title = "Create New Event";
}

<h2>@ViewBag.Title</h2>

@section scripts {
    @Scripts.Render("~/bundles/bootstrap-datetimepicker")    
    @Scripts.Render("~/bundles/jqueryval")
}

@section styles {
    @Styles.Render("~/Content/bootstrap-datetimepicker")    
}

@Html.Partial("_EventEditForm")